{% extends "base.html" %}

{% block title %}Login - WorkAround{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<style>
    /* Desactiva el smooth scroll solo en login */
    body {
        overflow: auto !important;
    }
    
    /* Oculta el footer en login */
    .footer {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
   {% for message in get_flashed_messages() %}
  <p style="color: green; text-align: center;">{{ message }}</p>
   {% endfor %}

    <div class="card-switch">
        <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <div class="flip-card__inner">
                <div class="flip-card__front">
                    <div class="title">Iniciar sesion</div>
                    <form class="flip-card__form" action="/login" method="POST">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn" type="submit">Iniciar Sesion</button>
                    </form>
                </div>
                <div class="flip-card__back">
                    <div class="title">Registrarse</div>
                    <form class="flip-card__form" action="/signup" method="POST">
                        <input class="flip-card__input" name="nombre" placeholder="Nombre" type="text" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Contraseña" type="password" required>
                        <input class="flip-card__input" name="telefono" placeholder="Telefono" type="tel" required>
                        <div class="flip-card__input" style="display: flex; justify-content: space-around; align-items: center;">
                           <label>
                                 <input type="radio" name="tipo" value="Candidato" required> Cliente
                           </label>
                           <label>
                                 <input type="radio" name="tipo" value="Empleador"> Empresa
                           </label>
                        </div>
                        <button class="flip-card__btn" type="submit">Confirmar</button>
                    </form>
                </div>
            </div>
        </label>
    </div>   
</div>

<script>
    // Desactiva el smooth scroll en esta página
    document.querySelector('body').style.overflow = 'auto';
</script>
{% endblock %}