{% extends "base.html" %}

{% block title %}Support - WorkAround{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/css/support.css">
{% endblock %}

{% block content %}
<div class="wrapper">
    {% for message in get_flashed_messages() %}
    <p style="color: green; text-align: center;">{{ message }}</p>
    {% endfor %}
    <div class="flip-card__inner">
        <div class="flip-card__front">
            <div class="title">Soporte Técnico</div>

            <!-- Tarjetas de Soporte -->
            <div class="support-item">
                <div class="support-icon">📞</div>
                <h3>Teléfono</h3>
                <p>+52 1 449 585 2995</p>
            </div>
            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=wrkaaraund25@gmail.com&subject=Consulta%20de%20Soporte&body=Hola%2C%20tengo%20una%20consulta..."
                target="_blank" class="support-item email-link">
                <div class="support-icon">📧</div>
                <h3>Email</h3>
                <p>wrkaaraund25@gmail.com</p>
            </a>


            <div class="support-item">
                <div class="support-icon">⏰</div>
                <h3>Horario</h3>
                <p>Lun-Vie 9AM-6PM</p>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    // Desactiva el smooth scroll en esta página
    document.querySelector('body').style.overflow = 'auto';
</script>
{% endblock %}